<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>App1</title>
</head>
<body>
    <center>
        <h1 id='1' style="background-color: chartreuse; "> this is the app1 page</h1>
        
        <p style="background-color: cornflowerblue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat ducimus, perspiciatis ut pariatur iste sed, veniam, nihil dolores in adipisci qui. Harum incidunt accusamus at quis tenetur assumenda vitae!</p>
        <a href="{% url 'app2:app2'  %}">Go To app2</a> <br>
        <a href="{% url 'app3:app3' %}"> Go To app3</a>
    </center>
</body>
</html>