<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App2</title>
</head>
<body>
    <center>
        <h1 style="background-color: orange;">this is the app2 html page</h1>
        <p style="background-color: green;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum voluptate eligendi provident molestiae iure fuga quia, tempore dignissimos tenetur quod illum sed, impedit neque alias corporis cumque. Libero, assumenda at?</p>
    <a href="{% url 'app3:app3' %}">Go To app3</a><br>
    <a href="{% url 'app1' %}"></a>
    </center>
</body>
</html>