<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="background-color: red ;">this is the html pages of app3</h1>
        <p style="background:yellow;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nulla hic, inventore dolor possimus natus, perferendis dolorum blanditiis quod excepturi quibusdam at, architecto eos ducimus id repellat delectus? Aspernatur, doloremque?</p>
        <a  style="border: 5px;"  href="{% url 'app2:app2' %}">Go To app2</a><br>
        <a href="{% url 'app1' %}">Go To app1</a>
    </center>
</body>
</html>